@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&display=swap');

form {
    margin: 0;
    padding: 0;
}

.body-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.inline {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.alert {
    margin: 0;
}

.class-search {
    width: 100%;
}